{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Movie Edit{% endblock title %}

{% block extrahead %}
<style>
	table {
		margin-top: 8px;
	}
	.media-object {
		border: 1px solid;
	}
	.float-clear {
		clear:both;
	}
</style>

<script>
	function confirmFile() {
		var fileName = document.getElementById("upload-file").value;
		var type = fileName.split('.');
		if(type == 'png' || type == 'jpg' || type == 'jpeg' || type == 'gif') {
			return true;
		}
		else {
			window.alert(type);
			window.alert('画像ファイルを指定してください。');
			return false;
		}
	}
</script>

{% endblock %}

{% block content %}
	<h3 class="page-header">映画の編集</h3>
	{% if movie_id %}
	<form action="{% url 'movie_list:movie_edit' movie_id=movie_id %}" method="post" class="form-horizontal" role="form">
	{% else %}
	<form action="{% url 'movie_list:movie_add' %}" method="post" class="form-horizontal" role="form">
	{% endif %}

		<!-- 画像表示部 -->
		<div class="col-md-4">
		{% if movie_id %}
		<img class="media-object" src="/media/upload/{{movie_id}}.png">
		{% else %}
		<img class="media-object" src="/media/upload/default_image.png">
		{% endif %}
		<input id="upload-file" type="file" accept="image/*">
		</div>

		<!-- 入力フォーム部 -->
		{% csrf_token %}
		<div class="col-md-8 ">
		{{ form|bootstrap_horizontal }}
		</div>
		<div class="form-group">
			<div class="col-md-3">
				<button type="submit" class="btn btn-primary" onClick="confirmFile()">送信</button>
				<a href="{% url 'movie_list:index' %}" class="btn btn-default btn-sm">戻る</a>
			</div>
		</div>
	</form>
{% endblock content %}
