{% extends "PyBoard/base.html" %}

{% block title %}Create Auth Page{% endblock %}

{% block extrahead %}
<style>
	#content {
		text-align: center;
	}
	tr {
		height: 70px;
	}
</style>
<script>
	function kakunin() {
		var username = document.getElementById("id_username");
		var password1 = document.getElementById("id_password1");
		var password2 = document.getElementById("id_password2");
		username = username.value;
		password1 = password1.value;
		password2 = password2.value;
	
		// 入力確認
		if(username.length < 1 || password1.length < 1 || password2.length < 1) {
			alert("Please input username and password!!");
			return false;
		}
		
		// パスワード確認
		if(password1 !== password2) {
			alert("Confirm password is different from password!!\n");
			return false;
		}

		// 確認メッセージ作成
		var message = "Confirm your username and password!!\n\n" +
						"username:" + username + "\n" +
						"password:" + password1 + "\n";

		// 確認ダイアログ表示
		ret = confirm(message);

		return ret;
	}
</script>

{% endblock %}

{% block content %}
<h1>PyBoard</h1>
<h3>Create Auth Page</h3>
<form action="{% url 'PyBoard:create_auth' %}" method="post">
{% csrf_token %}
<table align="center">
	<tr>
		<td align="left">{{form.username.label}}：</td>
		<td>{{form.username}}</td>
	</tr>
	<tr>
		<td align="left">{{form.password1.label}}：</td>
		<td>{{form.password1}}</td>
	</tr>
	<tr>
		<td align="left">{{form.password2.label}}：</td>
		<td>{{form.password2}}</td>
	</tr>
</table>
<input type="submit" value="Regist" onclick="return kakunin()">
</form>
{% endblock %}
