{% extends "PyBoard/base.html" %}

{% block title %}Create User Page{% endblock %}

{% block extrahead %}
<style>
	#content {
		text-align: center;
	}
</style>
<script>
	function kakunin() {
		var name = document.getElementById("id_name");
		var password = document.getElementById("id_password");
		name = name.value;
		password = password.value;

		// 確認メッセージ作成
		var message = "Confirm your name and password!!\n\n" +
						"name:\t\t" + name + "\n" +
						"password:\t" + password + "\n";

		// 確認ダイアログ表示
		ret = confirm(message);

		return ret;
	}
</script>
{% endblock %}

{% block content %}
<h1>PyBoard</h1>
<h3>Create User Page</h3>
<form action="{% url 'PyBoard:create_user' %}" method="post">
{% csrf_token %}
	<table align="center">
		{{form1.as_table}}
	</table>
	<input type="submit" value="Regist" onclick="return kakunin()">
</form>
<a href="{% url 'PyBoard:login' %}">Login Page</a>
<p id="info">
{% if info_ret == -1 %}
Sorry, Regist Failed...
{% endif %}
</p>
{% endblock %}
